.input-box {
    & > input,
    & > textarea {
        padding-left: 1.5rem;
        margin-bottom: 2rem;
        width: 100%;

        border: none;
        border-radius: 0.5rem;
        outline: none;
        box-shadow: none;

        font-size: $font-size-c-content;
        font-weight: 200;
        line-height: 2rem;

        color: #fff;
        background-color: rgba(250, 250, 250, 0.15);

        &:focus {
            border-color: #66afe9;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba($color: #000000, $alpha: 0.08), 0 0 8px rgba($color: #66afe2, $alpha: 0.6);
        }
        &:invalid {
            border-color: red;
        }
        @include screen($bp-pc) {
            font-size: $font-size-c-title;
            line-height: 3rem;
        }
    }

    & > input {
        height: 4rem;

        @include screen($bp-pc) {
            height: 6rem;
        }
    }

    & > textarea {
        height: 10rem;
        resize: none;

        &::-webkit-scrollbar {
            width: 0.5em;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(172, 171, 171);
            border-radius: 1.5rem;
            border: 1px solid rgb(102, 102, 102);
        }

        @include screen($bp-pc) {
            height: 12rem;
        }
    }
}

.button {
    & > input {
        display: block;
        width: 11rem;
        height: 4rem;
        padding: 0.6rem;

        border: 1px solid $white-color;
        border-radius: 5px;
        box-shadow: 0 5px 20px rgba($color: $white-color, $alpha: 0.5);

        font-size: $font-size-c-content;
        color: $white-color;
        background: none;
        transition: all 0.3s ease;

        @include screen($bp-pc) {
            width: 33rem;
            height: 9rem;

            border: 4px solid #fff;
        }

        &:hover {
            width: 17rem;

            font-weight: bold;

            background-color: rgba($color: #fff, $alpha: 0.5);
            opacity: 0.8;

            @include screen($bp-pc) {
                width: 35rem;
            }
        }
    }
}
